.navbar {
  width: 80px;
  border-right: 1px solid var(--GRAY-LIGHT);
  padding: 100px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.btn {
  border: none;
  margin-bottom: 20px;
  background-color: var(--BLACK);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.btn:hover {
  box-shadow: 0 0 8px var(--GRAY-NORMAL);
}

.btn:active {
  transform: scale(1.2);
}

.navbar-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 1s;
  transform: scale(0);

  position: absolute;
  top: 13%;
  animation: hide 0.5s forwards;
}

/* .navbar.active .navbar-icon {
} */

.navbar.active .navbar-icon:nth-child(2) {
  animation: show 0.1s forwards;
  top: 25%;
}
.navbar.active .navbar-icon:nth-child(3) {
  animation: show 0.3s forwards;
  animation-delay: 0.1s;
  top: 35%;
}
.navbar.active .navbar-icon:nth-child(4) {
  animation: show 0.5s forwards;
  animation-delay: 0.3s;
  top: 45%;
}

.navbar.active .navbar-icon:last-child {
  animation: show 0.8s forwards;
  animation-delay: 0.5s;
  top: 55%;
}

.navbar-icon:hover {
  box-shadow: 0 0 8px var(--GRAY-NORMAL);
}

@keyframes show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes hide {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
