.container {
  width: 100%;
  height: 100%;
}

.homepage {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  padding: 20px 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-template-rows: repeat(auto-fill, 220px);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.homepage::-webkit-scrollbar {
  display: none;
}
