.task {
  height: 175px;
  width: 175px;
  border-radius: 20px;
  position: relative;
  /* margin-bottom: 40px; */
  /* box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.55); */
  transition: all 0.2s ease;
  z-index: 1;
  margin: 30px;
}

.taskContent {
  height: 175px;
  width: 175px;
  border-radius: 20px;
  position: relative;
  /* margin: 10px; */
  padding: 20px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.55);
  transition: all 0.2s ease;
  z-index: 1;
}

.task::after {
  position: absolute;
  top: -3px;
  left: 0;
  box-sizing: border-box;
  height: 175px;
  width: 175px;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  content: "";
  background-color: var(--GRAY-LIGHT);

  z-index: -1;
  transform: rotate(4deg);
}
.task::before {
  position: absolute;
  top: 3px;
  left: 2px;
  box-sizing: border-box;
  height: 175px;
  width: 175px;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  content: "";
  background-color: var(--BLACK);
  z-index: -2;
  transform: rotate(10deg);
}

.task:hover {
  transform: scale(1.2);
}
