.input-wrapper {
  height: 100px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.input {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--BLACK);
  color: var(--GRAY-LIGHT);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.input:hover {
  background-color: var(--GRAY-LIGHT);
  color: var(--BLACK);
  box-shadow: 0 0 4px var(--BLACK);
}
