:root {
  --GRAY-LIGHT: #dbdbdb;
  --GRAY-NORMAL: #adadad;
  --WHITE: #f5f5f5;
  --BLACK: #1f1f1f;
  --HOME: #c97b47;
  --PLANNED: #c94747;
  --ONGOING: #6a47c9;
  --DONE: #54c947;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 30px 40px;
  background-color: var(--GRAY-LIGHT);
}

.app {
  width: 100%;
  min-height: 90vh;
  height: 100%;
  border-radius: 20px;
  display: flex;
  background-color: var(--WHITE);
  overflow: hidden;
}

.main {
  padding: 20px 20px 0 50px;
  width: 100%;
}

.routes {
  width: 100%;
  height: 100%;
}
